.contentWrapper {
  margin-top: 70px;
  margin-bottom: 60px;
  background-color: rgba(238, 238, 238);
  padding-top: 10px;
  color: rgb(0, 32, 96);
}

.priceWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.singleServiceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid rgb(0, 32, 96);
  margin-bottom: 10px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  width: 80%;
}
.serviceTitle {
  color: rgb(0, 32, 96);
}
.serviceDescription {
  text-align: left;
  width: 90%;
}

.lowerPriceWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  margin-bottom: 20px;
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

table th {
  width: 150px;
  border: 1px solid black;
  background-color: rgb(0, 32, 96);
  color: #fff;
}

td {
  border: 1px solid black;
}

.packet {
  justify-content: center;
}

.cards {
  background-color: #fff;
  color: rgb(0, 32, 96);
}
.aboutOtherServicesWrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
}
.singleOtherServiceWrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 32, 96);
}

@media only screen and (max-width: 500px) {
  .packet {
    flex-direction: column;
    align-items: center;
  }
  .singleOtherServiceWrapper {
    padding: 5px;
  }
}
