.aboutUscontainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.about-us-text {
  font-size: 20px;
  font-family: "Outfit";
  text-align: justify;
}

.content {
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url("../../assets/Images/about-us-background.png") no-repeat top;
}

.title-about-us {
  font-size: 28px;
  font-family: "Outfit";
  font-weight: 600;
}

.aboutUsTextWrapper {
  width: 65%;
}

@media only screen and (max-width: 500px) {
  .aboutUsTextWrapper {
    width: 90%;
    background-position: center;
    background-size: contain;
  }
  .title-about-us {
    margin-bottom: 0;
  }
}
