.container {
  padding: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
  border-top: 1px solid rgb(0, 32, 96);
  border-bottom: 1px solid rgb(0, 32, 96);
}

.aboutUsImg {
  width: 600px;
  height: 350px;
}
.aboutUsTextWrapper {
  width: 800px;
}
