.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  background: linear-gradient(183.86deg, rgba(59, 59, 150, 0.07) 36.1%, rgba(217, 217, 217, 0.056) 96.84%);
}

.footer-logo {
  height: 120px;
  width: 240px;
  object-fit: contain;
}

.upperLevelFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.left-div {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  padding-left: 20px;
  justify-content: center;
  align-items: flex-start;
  width: 33%;
  text-align: left;
}

.right-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 33%;
  color: black;
  padding-right: 50px;
}

.right-div p {
  margin: 0;
}

.title {
  padding-top: 15px;
  padding-bottom: 10px;
}

.bottom-div {
  padding-top: 10px;
  width: 100%;
}

.bottom-div p:first-of-type {
  margin-bottom: 0;
}

.bottom-div p {
  margin-top: 0;
}
a {
  text-decoration: none;
  color: black;
}

.emailFotter {
  text-decoration: none;
}

.footer p {
  font-family: "Outfit";
  font-size: 1.2rem;
  color: black;
}

.timeWrapper {
  width: 50%;
}

.footerContactWrapper {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: flex-start;
  margin-top: 20px;
}

.footerContactWrapper a {
  margin-left: 12px;
}

.footerContactWrapper svg {
  color: black;
  height: 20px;
  width: 20px;
}

.footerContactWrapper p {
  margin: 0;
}

.socialMediaIconsWrapper {
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.socialMediaIcon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.middle-div {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding-left: 100px;
  margin: auto;
}

.middle-div-text {
  text-align: left;
}

@media only screen and (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .upperLevelFooter {
    display: flex;
    flex-direction: column;
  }
  .left-div {
    width: auto;
    padding-left: 5px;

  }
  .right-div {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 20px;
    align-items: flex-start;
    padding-left: 5px;
    width: auto;
    padding-bottom: 10px;
  }

  .middle-div {
    padding-left: 5px;
    width: auto;
    margin: 0;
  }

  .timeWrapper {
    width: 65%;
    padding: 0;
    text-align: left;
  }

  .bottom-div {
    text-align: left;
  }
  .bottom-div p {
    margin-left: 5px;
  }

  .socialMediaIconsWrapper {
    padding: 0;
  }

  .footer-logo {
    display: none;
  }
}
