.lowerNavigationWrapper {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lowerNavigationWrapper p {
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 500px) {
  .lowerNavigationWrapper {
    flex-direction: column;
  }
}
