.mainContent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 10px; */
  margin-top: 20px;
  position: relative;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.mainContentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.upperContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(238, 238, 238);
}

.upperContent {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainContentLeftOption {
  display: flex;
  width: 100%;
  justify-content: left;
}
.mainContentRightOption {
  display: flex;
  width: 100%;
  justify-content: right;
}
.mainTextRight {
  font-size: 32px;
  font-style: italic;
  align-self: center;
  margin-left: 50px;
}
.mainContentTextLeft {
  font-size: 32px;
  font-style: italic;
  align-self: center;
  margin-right: 50px;
}
.upperCard {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: 10px;
  height: 240px;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fff;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: black;
  padding: 5px;
  border-radius: 50%;
  margin-top: 20px;
}

.iconsMainScreen {
  height: 50px;
  width: 50px;
  color: #00ffff;
}
.cardTitleWrapper {
  border-top: 1px solid black;
  width: 100%;
  color: black;
  font-size: 1.4rem;
  font-family: "Outfit";
  font-weight: bold;
}
.middleContentWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.middleImageDiv {
  background-image: url("../../assets//Images/middleImage.jpg");
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.onImageText {
  position: absolute;
  color: white;
  top: 70px;
  right: 0;
  left: 0;
  font-size: 50px;
  font-weight: 600;
  font-family: "Outfit";
}

.text {
  color: black;
  font-size: 1rem;
  width: 80%;
}

.lower-content-wrapper {
  background: linear-gradient(183.86deg, rgba(59, 59, 150, 0.07) 36.1%, rgba(217, 217, 217, 0.056) 96.84%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
}

.lowerContent {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
}

/* .lowerCard {
  display: flex;
  width: 18%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  margin: 30px
} */
.lowerCard {
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin: 30px;
  border: 1px solid black;
}

.lower-card-logo-wrapper {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.lower-card-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.lower-card-content p {
  text-align: left;
}

.categoryImage {
  height: 180px;
  width: 250px;
  border-radius: 10px;
}

.mainContentTitle {
  font-family: "Outfit";
  font-size: 40px;
  font-weight: 600;  
  color: black;
}

.subtitles {
  font-family: "Outfit";
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

.contact-us-btn {
  background-color: #31ABE0;
  border-radius: 15px;
  padding: 10px;
  font-size: 18px;
  margin-left: 10px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-family: "Outfit";
}

@media only screen and (max-width: 500px) {
  .upperCard {
    align-self: center;
    width: 100%;
  }
  .mainContentLeftOption {
    flex-direction: column;
  }

  .mainContentRightOption {
    flex-direction: column-reverse;
  }
  .mainTextRight {
    text-align: center;
    margin-left: 0;
  }
  .mainContentTextLeft {
    text-align: center;
    margin-right: 0;
  }

  .onImageText {
    font-size: 30px;
  }

.contact-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lowerContent {
  flex-direction: column;
  align-items: center;
}

.lowerCard {
  width: 80%;
  align-items: center;
  margin: 0;
}
}


