@keyframes movingRightDivs {
  0% {
    right: -400px;
  }
  100% {
    right: 0px;
  }
}

@keyframes movingLeftDivs {
  0% {
    left: -400px;
  }
  100% {
    left: 0px;
  }
}

.mainContent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
  position: relative;
  min-height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.mainContentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.upperContentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(238, 238, 238);
}

.upperContent {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.mainContentLeftOption {
  display: flex;
  width: 100%;
  justify-content: left;
}
.mainContentRightOption {
  display: flex;
  width: 100%;
  justify-content: right;
}
.mainTextRight {
  font-size: 32px;
  font-style: italic;
  align-self: center;
  margin-left: 50px;
}
.mainContentTextLeft {
  font-size: 32px;
  font-style: italic;
  align-self: center;
  margin-right: 50px;
}
.upperCard {
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: 10px;
  height: 240px;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fff;
}

.leftCards {
  align-self: flex-start;
  position: relative;
  animation: movingLeftDivs 3s;
  animation-direction: normal;
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: 10px;
  height: 240px;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fff;
}

.rightCards {
  align-self: flex-end;
  position: relative;
  animation: movingRightDivs 3s;
  animation-direction: normal;
  display: flex;
  width: 30%;
  flex-direction: column;
  margin: 10px;
  height: 240px;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: #fff;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: black;
  padding: 5px;
  border-radius: 50%;
  margin-top: 20px;
}

.iconsMainScreen {
  height: 50px;
  width: 50px;
  color: yellow;
}
.cardTitleWrapper {
  border-top: 1px solid black;
  width: 100%;
  color: black;
  font-size: 1.4rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.middleContentWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  background: -webkit-linear-gradient(
    to right,
    rgba(238, 238, 238),
    rgb(103, 104, 105)
  );
  background: -moz-linear-gradient(
    to right,
    rgba(238, 238, 238),
    rgb(101, 101, 102)
  );
  background: linear-gradient(
    to right,
    rgba(238, 238, 238),
    rgb(115, 115, 116)
  );
}

.middleImageDiv {
  background-image: linear-gradient(
      to right,
      rgba(238, 238, 238, 0),
      rgba(100, 108, 122, 0.6)
    ),
    url("../../assets//Images/middleImage.jpg");
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
  /* border-radius: 10px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.onImageText {
  position: absolute;
  color: yellow;
  top: 50px;
  right: 50px;
  font-size: 2rem;
  font-weight: bold;
}

.text {
  color: black;
  font-size: 1rem;
}

.lowerContent {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 50px;
  justify-content: center;
}

.lowerCard {
  display: flex;
  flex: 1 0 30%;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.categoryImage {
  height: 180px;
  width: 280px;
  border-radius: 10px;
}

.mainContentTitle {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  color: black;
}

.subtitles {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
}

@media only screen and (max-width: 500px) {
  .middleImageDiv {
    width: 100%;
    height: 300px;
    background-position: inherit;
  }

  .onImageText {
    position: absolute;
    color: yellow;
    top: 50px;
    right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }

  .upperCard {
    align-self: center;
    width: 100%;
  }
  .mainContentLeftOption {
    flex-direction: column;
  }

  .mainContentRightOption {
    flex-direction: column-reverse;
  }
  .mainTextRight {
    text-align: center;
    margin-left: 0;
  }
  .mainContentTextLeft {
    text-align: center;
    margin-right: 0;
  }
}
