.mainContent-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 20px;
}
.mainContentDiv {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.upperContent {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-bottom: 50px;
}

.upperCard {
  display: flex;
  flex: 1 0 30%;
  flex-direction: column;
  margin: 10px;
  height: 180px;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: lightblue;
  padding: 5px;
  border-radius: 50%;
  margin-top: 20px;
}

.iconsMainScreen {
  height: 30px;
  width: 30px;
  color: #fff;
}
.cardTitleWrapper {
  background-color: rgb(0, 32, 96);
  width: 100%;
  color: #fff;
}

.lowerContent {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 50px;
  justify-content: center;
}

.lowerCard {
  display: flex;
  flex: 1 0 30%;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
}

.categoryImage {
  height: 180px;
  width: 280px;
  border-radius: 10px;
}
